/*======================================
    Styling of primary elements
  ======================================*/

html body{
    background:#fff;
    font-size:1em;
    margin:0;
    padding:0;
    font-family: "Helvetica neue";
    -webkit-font-smoothing: antialiased;
}
h1{
    display:flex;
    font-size:12vh;
    justify-content: center;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    color:white;
    margin: 35vh 20vh;
    margin: 100px 50px;
    text-align: center;
    flex-wrap: wrap;
}

h2{
    font-size:4em;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1.5px;
    text-align: center;
}

h3{
    font-size:2.5rem;
    text-transform: uppercase;
    font-weight:200;
}
h4{
    font-size:1.5rem;
    font-weight:400;
    line-height: 1.6;
    text-align: center;
    color:#43853D;
}

h6{
    font-size:1.8em;
    font-weight: 200;
    color:black;
    letter-spacing: 2px;
    text-align: center;
    margin:20px 80px;
    line-height: 1.4em;
}

p{
  font-size: 1.4em;
  font-weight: 200;
  letter-spacing: .5px;
}
ul{
    list-style-type: none;
    padding-left:0px;
    line-height: 1.5em;
    font-size:1.3em;
    font-weight: 200;
}

a{
    text-decoration:none;
    color:black;
    letter-spacing: 2px;
}
a:hover{
    text-decoration:none;
}
footer{
    width:100%;
    height:10rem;
    background:#333333;
}
table.center{
  margin-left:auto;
  margin-right:auto;
  margin-top: 100px;
}
th, td{
  padding:5px 25px;
  font-size: 1.8em;
  font-weight: 200;
  letter-spacing: 1px;
}
/*==========Universal Classes===========*/
.clear{
    clear:both;
}
.breaker{
    border-top:3px solid #000;
    margin:0 42%;
}
.break-line{
    border-top:1px dashed grey;
    margin: 0 10%;
}
.row{
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 40px;
}
.list{
  text-align: left;
  display: block;
  padding:10px 40px;
  font-size: 1.8em;
  font-weight: 200;
}
.box1{
  display:block;
  float:left;
  align-self: center;
}
ul {
  display: block;
  margin:0 15px;
  letter-spacing: 1px;
  font-weight: 400;
}
.breaker{
    border-top:3px solid #000;
    margin:80px 28%;
}
table{
  width:80%;
  margin:0 10%;
}
table td{
  line-height: 2rem;
  text-align: justify;
  font-size: 1.5em;
  font-weight: 200;
}
img{
  display:flex;
  height:auto;
  width:auto/9;
  margin:10px auto;
  float:left;


}
/*=========Title===========*/
.head-container{
  display:flex;
  background-size:cover;
  position:relative;
  float:left;
  width:100%;
  height:100vh;
  background: #074E68;
  min-height: 100px;
  justify-content: center;
  align-items: center;
}
/*=========Services===========*/
.svc-container{
    border:0;
    margin-top:0;
}
.clear{
    clear:both;
}
.smart{
  margin:50px 100px;
  text-align: justify;
}
.smartest{
  margin:50px 90px;
  text-align: center;
}
.strong:hover {
  font-weight: bolder;
}
.row-framework-callouts{
  max-width: 80rem;
  display:block;
  margin-bottom: 2rem;
  border-radius: 3px;
  padding: 1rem 1.08rem 0.25rem 1.08rem;
}
.line{
  border-top:solid 1px black;
  width:84%;
  margin:0 8%;
  margin-bottom:100px;
}
.cert-container{
  display:flex;
  flex-wrap:wrap;
  width:80%;
  margin: 20px 10%;
  justify-content: space-around;
  align-items: center;
}
/*==========Grants============*/
.services{
  margin-left:7%;
  line-height: 3rem;
  float:left;
  display:block;
  width: auto;
}
.evaluation{
  margin-left:15%;
}
.smarter{
  margin:0 60px 30px 50px;
  display:block;
  width:50%;
  float:left;
  text-align: justify;
}
.container{
  display:inline-block;
}
.inflate{
  display:block;
  text-align:center;
  font-size: 1.5em;
  margin:0;
  width:100%;
  letter-spacing: 1px;
  font-weight: 400;
  color: #007FFF;
}
.boxed-in{
  display:flex;
  width:auto;
  flex-wrap: wrap;
  justify-content: space-between;
  margin:20px 80px 0 90px;
  margin-top:40px;
}
.mid-box{
  display:block;
  width:30%;
  text-align:center;
  margin:5px 12px 50px 12px;
  padding:10px 5px;
  line-height: 1.7em;
  background-color: #C7C9C9;
  border-radius:5%;
  height:200px;
  color:#434545;
  overflow: scroll;
}
.small-font{
  font-size: 1.2em;
}
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

/*========== inter-page link =========*/
.linker{
  width:100%;
  height:30px;
  display:flex;
  flex-flow: column;
  flex-wrap: wrap;
  background-color: orange;
  align-content: center;
  text-align: center;
  align-items: center;
}
.linker:hover{
  background-color: grey;
}
.linker p{
  margin:0;
  font-size: 1.2em;
}
/*==========Contact============*/
.medium-2{
  width:40%;
  position:;
  z-index:1
}
.medium-2 h3{
  margin-top:0;
}
.medium-3{
  width:auto;
}
.medium-4{
  width:30%;
}
.medium-4 h3{
  text-align: center;
  margin:15px 0px;
}
.medium-8{
  display:block;
  text-align: center;
  max-width: 75rem;
}
.medium-9{
  width:65%;
  float:left;
  margin:51px 0;
  padding-left:20px;
  align-content: left;
  vertical-align: middle;
}
.small-box{
    background-position: center -325px;
    border-left:1px solid #000;
    margin-bottom: 30px;
    display:block;
    height:200px;
}
.hide-for-small{
  font-size: 1.5rem;
  font-weight: 200;
  color: black;
  margin:0 1px 10px 0;
  text-transform: uppercase;
  padding: 20px 0 0 0;
}
.columns{
  float:left;
}
.columns:last-child:not(:first-child) {
    float: right;
}
.row-property{
  max-width: 75rem;
  padding-left: auto;
  padding-right: auto;
  text-align: center;
  margin: 50px 20px;
  display: block;
  background: black;
}
.property-info{
  display:block;
  margin:0px;
  padding:0px;
  z-index: -1;
}
.address{
  font-size: 1.2rem;
  font-weight: 200;
  color: black;
  padding:0 25px;
}
.email{
  font-size: 1.2rem;
  font-weight: 200;
  color: black;
  padding:0 15px;
}
.phone{
  font-size: 1.2rem;
  font-weight: 200;
  color: black;
  padding:0 30px;
}
/*=============Footer================*/
.social{
  display:block;
  float:right;
  margin:51px 20px 15px 0;
}
.social li{
  display:inline-block;
  margin: 0 5px;
  width: 70px;
  height: 70px;
  background-color:#717171;
  vertical-align: middle;
  border-radius: 100%;
}
.social li:hover{
  background-color: #59595A;
}
.facebook{
  margin:15px 20% 0 30%;
}
.twitter{
  margin:15px 20% 0 21%;
}
.g_plus{
  margin:15px 50px 0 15%;
}
.linkedin{
  margin:15px 50px 0 23%;
}
.medium-9{
  width:52%;
  float:left;
  margin:51px 0 10px 0;
  padding-left:20px;
  align-content: left;
  vertical-align: middle;
}
footer p{
    text-align:center;
    color:#717171;
    font-weight:200;
    font-size: 1.2em;
    margin:0;
}
.promo{
  background-color: #E3E3E1;
  display:block;
  border-radius: 20px;
  float: right;
  margin:51px 60px 45px 0;
  width:90px;
  padding: 10px 0;
}
.promo p{
  font-size: .8em;
  text-align: center;
  vertical-align: bottom;
  color: #717171;
  font-weight: 400;
}
.promo:hover{
  background-color: #fff;
}
