/*======================================
    Styling of primary elements
  ======================================*/

html body{
    background:#fff;
    font-size:1em;
    margin:0;
    padding:0;
    font-family: "Helvetica neue";
}
h1{
    font-size:5em;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
}

h2{
    font-size:4em;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1.5px;
}

h3{
    font-size:2.5rem;
    text-transform: uppercase;
    font-weight:200;
}
h4{
    font-size:1.125rem;
    font-weight:200;
    line-height: 1.6;
}

h6{
    font-size:1.8em;
    text-transform: uppercase;
    font-weight: 100;
    color:white;
    letter-spacing: 2px;
}

p{
  font-size: 1.4em;
  font-weight: 200;
  letter-spacing: .5px;
}
ul{
    list-style-type: none;
    padding-left:0px;
    line-height: 1.5em;
    font-size:1.3em;
    font-weight: 200;
}

a{
    text-decoration:none;
    color:black;
    letter-spacing: 2px;
}
a:hover{
    text-decoration:underline;
}
footer{
    width:100%;
    height:100px;
    background:#333333;
}

footer p{
    text-align:center;
    color:#717171;
    font-weight:300;
    padding:40px;
}
table.center{
  margin-left:auto;
  margin-right:auto;
  margin-top: 100px;
}
th, td{
  padding:5px 25px;
  font-size: 1.8em;
  font-weight: 200;
  letter-spacing: 1px;
}
/*==========Universal Classes===========*/
.clear{
    clear:both;
}
.breaker{
    border-top:3px solid #000;
    margin:0 42%;
}
.break-line{
    border-top:1px dashed grey;
    margin: 0 10%;
}
.row{
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 40px;
}
.list{
  text-align: left;
  display: block;
  padding:10px 40px;
  font-size: 1.8em;
  font-weight: 200;
}
.box1{
  display:block;
  float:left;
  align-self: center;
}
/*========== Top Container =============*/
.head-container {
    display:block;
    background:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('../images/51.jpg') no-repeat;
    background-size:cover;
    position:relative;
    float:left;
    width:100%;
    height:100vh;
}
.head-container h1{
    display:block;
    text-align:center;
    color:white;
    padding:40px 0 0 0;
    margin-top:30vh;
    border-bottom:0;
    margin-bottom:10px;
}

/*========== Welcome =============*/
.welcome-container {
  display:block;
  margin:0px;
  border-bottom: 1px solid #eee;
}
.welcome-container h2{
  display: block;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 100px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
}
.welcome-container h4{
  margin-left: 150px;
  margin-right: 150px;
}
/*========== Services =============*/
.row-framework-callouts{
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display:block;
}
.container-hover{
  margin-bottom: 2rem;
  border-radius: 3px;
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  padding-bottom: 0.25rem;
}
.medium-4{
  width:30%;
}
.medium-4 h3{
  text-align: center;
  margin:15px 0px;
}
.columns{
  float:left;
}
img{
  display:inline-block;
  max-width: 100%;
  vertical-align: middle;
  border-radius: 5px;
}
/*========== Testimonials =============*/
.carouselbox {
  font-family: helvetica,sans-serif;
  font-size: 14px;
  width: 100px;
  position: relative;
  margin: 1em;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px #ccc;
  overflow: hidden;
}
.content {
  margin: 0;
  padding: 0;
}
.content li {
  font-size: 100px;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}
.active {
  height: 130px;
}
.active li {
  position: absolute;
  top: 200px;
}
.active li.current {
  top: 30px;
}
.active .buttons {
  padding: 5px 0;
  background: #eee;
  text-align: center;
  z-index: 10;
  position: relative;
}
.carouselbox button {
  border: none;
  display: none;
}
.active button {
  display: inline-block;;
}
.offscreen {
  position: absolute;
  left: -2000px;
}
.active li {
  position: absolute;
  top: 130px;

  pointer-events: none;
  opacity: 0;
  transform: scale(0);
  transition: 1s;
}
.active li.current {
  top: 30px;

  pointer-events: auto;
  opacity: 1;
  transform: scale(1);
  transition: 1s;
}
/*========== Government =============*/

/*========== Grant Writing =============*/

/*========== Contact =============*/
