/*======================================
    Styling of primary elements
  ======================================*/

html body{
    background:#fff;
    font-size:1em;
    margin:0;
    padding:0;
    font-family:"Helvetica neue";
}
h1{
    font-size:4em;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
}

h2{
    font-size:3em;
    text-transform: uppercase;
    font-weight: 200;
}

h3{
    font-size:2em;
    text-transform: uppercase;
    font-weight:200;
}
h4{
    font-size:1.8em;
    text-transform: uppercase;
    font-weight:300;
}

h6{
    font-size:1.8em;
    text-transform: uppercase;
    font-weight: 100;
    color:white;
    letter-spacing: 2px;

}

ul{
    list-style-type: none;
}

a{
    text-decoration:none;
    color:black;
    letter-spacing: 2px;
}
a:hover{
    text-decoration:underline;
}
footer{
    width:100%;
    height:100px;
    background:#333333;
}

footer p{
    text-align:center;
    color:#717171;
    font-weight:300;
    padding:40px;
}
/*==========Universal Classes===========*/
.clear{
    clear:both;
}
.breaker{
    border-top:3px solid #000;
    margin:0 42%;
}
.break-line{
    border-top:1px dashed grey;
    margin: 0 10%;
}
/*========== Top Container =============*/
.head-container {
    display:block;
    background:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('../images/51.jpg') no-repeat;
    background-size:cover;
    position:relative;
    float:left;
    width:100%;
    height:100vh;
}
.head-container h1{
    display:block;
    text-align:center;
    color:white;
    padding:40px 0 0 0;
    margin-top:30vh;
    border-bottom:0;
    margin-bottom:10px;
}

/*========== Welcome =============*/

/*========== Services =============*/

/*========== Testimonials =============*/

/*========== Government =============*/

/*========== Grant Writing =============*/

/*========== Contact =============*/
