/*======================================
    Styling of primary elements
  ======================================*/

html body{
    background:#fff;
    font-size:1em;
    margin:0;
    padding:0;
    font-family: "Helvetica neue";
    -webkit-font-smoothing: antialiased;
}
h1{
    display:flex;
    font-size:12vh;
    justify-content: center;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    color:white;
    flex-wrap: wrap;
    /*padding-top:30vh;*/
    align-content: center;
    text-align: center;
}

h2{
    font-size:6.5em;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1.5px;
}

h3{
    font-size:3.75rem;
    text-transform: uppercase;
    font-weight:200;
    color: #007FFF;
}
h4{
    font-size:2rem;
    font-weight:200;
    line-height: 1.6;
}

h6{
    font-size:1.8em;
    text-transform: uppercase;
    font-weight: 100;
    color:black;
    letter-spacing: 2px;
}

p{
  font-size: 1.8em;
  font-weight: 200;
  letter-spacing: .5px;
}
ul{
    list-style-type: none;
    padding-left:0px;
    line-height: 1.5em;
    font-size:1.3em;
    font-weight: 200;
}

a{
    text-decoration:none;
    color:black;
    letter-spacing: 2px;
}
a:hover{
    text-decoration:none;
}
footer{
    width:100%;
    height:30%;
    background:#333333;
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
table.center{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
th, td{
  text-align: center;
  padding:5px 25px;
  font-size: 1.8em;
  font-weight: 200;
  letter-spacing: 1px;
}
/*==========Universal Classes===========*/
.clear{
    clear:both;
}
.breaker{
    border-bottom:.5px solid #000;
    margin:0 8%;
}
.break-line{
    border-top:1px dashed grey;
    margin: 0 10%;
}
.row{
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  margin-top:30px;
  display: block;
  padding-bottom: 40px;
  text-align: justify;
}
.list{
  text-align: left;
  display: block;
  padding:10px 40px;
  font-size: 1.8em;
  font-weight: 200;
}
.box1{
  display:block;
  float:left;
  align-self: center;
}
/*========== Top Container =============*/
.head-container{
  display:flex;
  background-size:cover;
  /*position:relative;
  float:left;*/
  width:100%;
  height:100vh;
  background-image: url('../images/arms_crossed.jpg');
  /*linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('../images/Bcover.jpg'/) no-repeat;*/
  min-height: 100px;
  justify-content: center;
  align-items: center;
}
/*.menu{
  display:flex;
  justify-content: flex-end;
  margin-right: 10px;
}
ul.topnav {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}
ul.topnav li {float: right;}
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
ul.topnav li a:hover {background-color: #555;}
ul.topnav li.icon {display: none;}
*/
/*========== Welcome =============*/
.welcome-container {
  display:block;
  margin:0px;
  border-bottom: 1px solid #eee;
}
.welcome-container h2{
  display: block;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 100px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
}
.welcome-container h4{
  margin-left: 150px;
  margin-right: 150px;
}
table.bottom{
  margin:10px auto 40px auto;
}
table.bottom th, td{
  padding:0px 25px;
  font-size: 1.6em;
  font-weight: 200;
  letter-spacing: 1px;
  vertical-align: top;
}

/*========== Video ================*/
.video{
  display:flex;
  width:100%;
  height:100vh;
  justify-content: center;
  align-items: center;
}
iframe{
  /*width:1120px;
  height:630px;*/
  width:90%;
  height:80%;
}
/*========== Services =============*/
.row-framework-callouts{
  display:flex;
  max-width: 130rem;
  margin: 20px auto;
  align-content: space-around;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.container-hover{
  margin-bottom: 2rem;
  border-radius: 3px;
  margin: 1rem 1.08rem 0.25rem 1.08rem;
}
.medium-4{
  width:30%;
  min-width: 400px;
}
.medium-4 ul{
  display:block;
}
.medium-4 li{
  font-size: 1.5em;
  line-height: 1.7em;
}
.medium-4 h3{
  text-align: center;
  margin:15px 0px;
}
.columns{
  float:left;
}
.squares {
  display:flex;
  justify-content:flex-end;
  align-items: middle;
  max-width: 85%;
  vertical-align: middle;
  border-radius: 5px;
}

/*========== Testimonials =============*/
.carousel-caption h3{
  font-size: 300%;
  line-height: 1.3em;
  color: white;
  text-transform: none;
}


/*========== Book =============*/
.flex-grid{
  display:flex;
  width:100%;
  height: auto;
  padding: 70px 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.col{
  flex:1;
}
.book-cover{
  display:flex;
  /*margin: 10vh 50px 10vh 100px;*/
  justify-content: center;
  vertical-align: middle;
}
.book-cover img{
  width: 55vh;
  height: 85vh;
  min-width: 200px;
  min-height: 240px;
}
.book-text{
  display:flex;
  flex-direction: column;
  width:40%;
  margin: 8vh 60px;
}
.book-text p{
  text-align: justify;
}
.purchase{
  display:flex;
  flex-flow: column;
  text-align: center;
  padding-top:10px;
}
.purchase h3{
  width:100%;
}
.purchase table{
  margin-bottom:20px;
}
.purchase form{
  display:flex;
  flex-flow: column;
  align-items: center;
}

/*========== inter-page link =========*/
.linker{
  display:flex;
  width:100%;
  height:30px;
  flex-flow: row;
  flex-wrap: wrap;
  background-color: orange;
  justify-content: center;
  align-items: center;
}
.linker:hover{
  background-color: grey;
}

/*========== Contact =============*/
.row-property{
  display: flex;
  justify-content: center;
  flex-flow: row;
  flex-wrap: wrap;
  margin: 50px 20px;
}
.medium-2{
  width:50%;
  min-width:200px;
  display:flex;
  justify-content: center;
  align-items: flex-start;
}
.medium-2 h3{
  margin-top:0;
}
.property-info{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.property-info h3{
  color:black;
}
.property-info p{
  text-align: center;
}
.medium-8{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  max-width: 100rem;
}
.medium-3{
  width:160px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: wrap;
  height:150px;
  border-left:1px solid #000;
}
.hide-for-small{
  font-size: 1.9rem;
  font-weight: 200;
  color: black;
  margin:0 1px 10px 0;
  text-transform: uppercase;
  padding: 20px 0 0 0;
}
.address{
  font-size: 1.4rem;
  font-weight: 200;
  color: black;
  padding:0 25px;
}
.email{
  font-size: 1.4rem;
  font-weight: 200;
  color: black;
  padding:0 15px;
}
.phone{
  font-size: 1.4rem;
  font-weight: 200;
  color: black;
  padding:0 30px;
}
/*=============Footer================*/
.medium-9{
  width:50%;
  margin:51px 0 10px 0;
  padding-left:20px;
  justify-content: center;
}
footer p{
    text-align:center;
    color:#717171;
    font-weight:200;
    font-size: 1.6em;
    margin:0;
}
.promo{
  background-color: #E3E3E1;
  display:flex;
  justify-content: center;
  border-radius: 50px;
  margin:51px 30px 45px 90px;
  width:90px;
  padding: 10px 0;
}
.promo p{
  font-size: 1.2em;
  text-align: center;
  vertical-align: bottom;
  color: #717171;
  font-weight: 400;
}
.promo:hover{
  background-color: #fff;
}
.social{
  margin:50px 0 15px 40px;
}
.social ul{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.social li{
  display:flex;
  margin: 0 5px;
  width: 70px;
  height: 70px;
  background-color:#717171;
  border-radius: 100%;
}
.social li:hover{
  background-color: #59595A;
}
.facebook{
  display:flex;
  align-items: center;
  margin:0 25px;
}
.twitter{
  display:flex;
  align-items: center;
  margin:0 25px;
}
.g_plus{
  display:flex;
  align-items: center;
  margin:0 18px;
}
.linkedin{
  display:flex;
  align-items: center;
  margin:0 25px;
}

/*============== Media Query ===========*/
@media (max-width: 400px) {
  .flex-grid,{
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
  .carousel-caption h3{
    font-size: 20px;
  }
  .carousel-inner {
    height:700px;
  }
  .carousel-caption {
    display:flex;
    flex-flow: column;
    align-content: center;
    bottom: 10px;
  }
  .welcome-container h4{
    margin:0 30px;
  }
  .linker{
    display:block;
    height:80px;
  }
}
