/*======================================
    Styling of primary elements
  ======================================*/

html body{
    background:#fff;
    font-size:1em;
    margin:0;
    padding:0;
    font-family: "Helvetica neue";
    -webkit-font-smoothing: antialiased;
}
h1{
    font-size:5em;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
}

h2{
    font-size:4em;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1.5px;
}

h3{
    font-size:2.5rem;
    text-transform: uppercase;
    font-weight:200;
}
h4{
    font-size:1.125rem;
    font-weight:200;
    line-height: 1.6;
}

h6{
    font-size:1.8em;
    text-transform: uppercase;
    font-weight: 100;
    color:black;
    letter-spacing: 2px;
}

p{
  font-size: 1.4em;
  font-weight: 200;
  letter-spacing: .5px;
}
ul{
    list-style-type: none;
    padding-left:0px;
    line-height: 1.5em;
    font-size:1.3em;
    font-weight: 200;
}

a{
    text-decoration:none;
    color:black;
    letter-spacing: 2px;
}
a:hover{
    text-decoration:none;
}
footer{
    width:100%;
    height:150px;
    background:#333333;
}
table.center{
  margin-left:auto;
  margin-right:auto;
  margin-top: 100px;
}
th, td{
  padding:5px 25px;
  font-size: 1.8em;
  font-weight: 200;
  letter-spacing: 1px;
}
/*==========Universal Classes===========*/
.clear{
    clear:both;
}
.breaker{
    border-top:3px solid #000;
    margin:0 42%;
}
.break-line{
    border-top:1px dashed grey;
    margin: 0 10%;
}
.row{
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 40px;
}
.list{
  text-align: left;
  display: block;
  padding:10px 40px;
  font-size: 1.8em;
  font-weight: 200;
}
.box1{
  display:block;
  float:left;
  align-self: center;
}
/*========== Top Container =============*/
.head-container {
    display:block;
    background:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('../images/51.jpg') no-repeat;
    background-size:cover;
    position:relative;
    float:left;
    width:100%;
    height:100vh;
}
.head-container h1{
    display:block;
    text-align:center;
    color:white;
    padding:40px 0 0 0;
    margin-top:30vh;
    border-bottom:0;
    margin-bottom:10px;
}

/*========== Welcome =============*/
.welcome-container {
  display:block;
  margin:0px;
  border-bottom: 1px solid #eee;
}
.welcome-container h2{
  display: block;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 100px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
}
.welcome-container h4{
  margin-left: 150px;
  margin-right: 150px;
}
/*========== Services =============*/
.row-framework-callouts{
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display:block;
}
.container-hover{
  margin-bottom: 2rem;
  border-radius: 3px;
  padding: 1rem 1.08rem 0.25rem 1.08rem;
}
.medium-4{
  width:30%;
}
.medium-4 h3{
  text-align: center;
  margin:15px 0px;
}
.columns{
  float:left;
}
img{
  display:inline-block;
  max-width: 100%;
  vertical-align: middle;
  border-radius: 5px;
}
/*========== Testimonials =============*/
.carouselbox {
  font-family: helvetica,sans-serif;
  font-size: 14px;
  width: 100px;
  position: relative;
  margin: 1em;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px #ccc;
  overflow: hidden;
}
.content {
  margin: 0;
  padding: 0;
}
.content li {
  font-size: 100px;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}
.active {
  height: 130px;
}
.active li {
  position: absolute;
  top: 200px;
}
.active li.current {
  top: 30px;
}
.active .buttons {
  padding: 5px 0;
  background: #eee;
  text-align: center;
  z-index: 10;
  position: relative;
}
.carouselbox button {
  border: none;
  display: none;
}
.active button {
  display: inline-block;;
}
.offscreen {
  position: absolute;
  left: -2000px;
}
.active li {
  position: absolute;
  top: 130px;

  pointer-events: none;
  opacity: 0;
  transform: scale(0);
  transition: 1s;
}
.active li.current {
  top: 30px;

  pointer-events: auto;
  opacity: 1;
  transform: scale(1);
  transition: 1s;
}
/*========== Government & Grant Writing=============*/
.medium-5{
  width:46%;
  height:46%;
  margin-bottom:0px
}
.medium-5 h3{
  text-align: center;
  margin:15px 0px;
}
.medium-5 p{
  margin: 80px 20px 22.4px 30px;
}
.medium-5 h6{
  text-align: center;
  margin-top:88px;
  color: #1d92cf;
}
.medium-6{
  width:46%;
  height:46%;
  margin-bottom:0px
}
.medium-6 h3{
  text-align: center;
  margin:15px 0px;
}
.medium-6 p{
  margin-left:30px;
  margin-right:20px;
}
.medium-6 h6{
  text-align: center;
  color: #1d92cf;
}
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #F0F0F0;
  color: white;
}


/*========== Contact =============*/
.contact{
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  display:block;
  border-top: 1px solid #000;
}
.contact h2{
  text-align: center;
}
table.bottom{
  margin:10px auto 40px auto;
}
table.bottom th, td{
  padding:0px 25px;
  font-size: 1.6em;
  font-weight: 200;
  letter-spacing: 1px;
  vertical-align: top;
}
.row-property{
  max-width: 75rem;
  padding-left: auto;
  padding-right: auto;
  text-align: center;
  margin: 50px 20px;
  display: block;
  background: black;
}
.medium-2{
  width:40%;
  position:;
  z-index:1
}
.medium-2 h3{
  margin-top:0;
}
.sub-footer{
  background:transparent black;
}
.property-info{
  display:block;
  margin:0px;
  padding:0px;
  z-index: -1;
}
.medium-8{
  display:block;
  text-align: center;
  max-width: 75rem;
}
.columns:last-child:not(:first-child) {
    float: right;
}
.small-box{
    background-position: center -325px;
    border-left:1px solid #000;
    margin-bottom: 30px;
    display:block;
    height:200px;
}
.hide-for-small{
  font-size: 1.5rem;
  font-weight: 200;
  color: black;
  margin:0 1px 10px 0;
  text-transform: uppercase;
  padding: 20px 0 0 0;
}
.medium-3{
  width:auto;
}
.address{
  font-size: 1.2rem;
  font-weight: 200;
  color: black;
  padding:0 25px;
}
.email{
  font-size: 1.2rem;
  font-weight: 200;
  color: black;
  padding:0 15px;
}
.phone{
  font-size: 1.2rem;
  font-weight: 200;
  color: black;
  padding:0 30px;
}
/*=============Footer================*/
.social{
  display:block;
  float:right;
  margin:15px 20px 15px 0;
}
.social li{
  display:inline-block;
  margin: 0 5px;
  width: 70px;
  height: 70px;
  background-color:#717171;
  vertical-align: middle;
  border-radius: 100%;
}
.social li:hover{
  background-color: #59595A;
}
.facebook{
  margin:15px 20% 0 30%;
}
.twitter{
  margin:15px 20% 0 21%;
}
.g_plus{
  margin:15px 50px 0 15%;
}
.linkedin{
  margin:15px 50px 0 23%;
}
.medium-9{
  width:52%;
  float:left;
  margin:51px 0 10px 0;
  padding-left:20px;
  align-content: left;
  vertical-align: middle;
}
footer p{
    text-align:center;
    color:#717171;
    font-weight:200;
    font-size: 1.2em;
    margin:0;
}
.promo{
  background-color: #E3E3E1;
  display:block;
  border-radius: 50px;
  float: right;
  margin:45px 60px 45px 0;
  width:8%;
  padding: 10px 0;
}
.promo p{
  font-size: .8em;
  text-align: center;
  vertical-align: bottom;
  color: #717171;
  font-weight: 400;
}
.promo:hover{
  background-color: #fff;
}
